body{
    background-image: url(JeSUS.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.s{
    background-color: black;
}
.v{
    background-color: black;
}
.c{
    background-color: black;
}
.d{
    background-color: black;
}
.e{
    background-color: black;
}
.q{
    background-color: black;
}
.w{
    background-color: black;
}
.r{
    background-color: black;
}
.t{
    background-color: black;
}
.y{
    background-color: black;
}
.u{
    background-color: black;
}
.i{
    background-color: black;
}
.o{
    background-color: black;
}
.p{
    background-color: black;
}
.a{
    background-color: black;
}
.s{
    background-color: black;
}
.f{
    background-color: black;
}
.g{
    background-color: black;
}
.h{
    background-color: black;
}
div.center {

    text-align: center;
    
    }